

.name {
	width: 7%;
    vertical-align: center;
}

.team {
	width: 7%;
    vertical-align: center;
}

.finish,.penalty,.total,.place,.time_from_first  {
	width: 4%;
	word-wrap: break-word;
    text-align:  center;
    vertical-align: center;
}


.valid, .points {
	width: 4%;
	word-wrap: break-word;
    text-align: center;
    vertical-align: center;
}

.desc {
	width: 5%;
	word-wrap: break-word;
	text-align: left;
    vertical-align: center;
}

.undefined,.splits {
	width: 3%;
	word-wrap: break-word;
    vertical-align: center;
}
.link {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 1em;
}
.results {
	margin-left: 0.5em;
	margin-right: 0.5em;
}