

.name {
	width: 7%;
    vertical-align: center;
}

.team {
	width: 7%;
    vertical-align: center;
}

.finish,.penalty,.total,.place,.time_from_first  {
	width: 4%;
	/* word-wrap: break-word; */
    text-align:  center;
    vertical-align: center;
}

.headers  {
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.54);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



.valid, .points {
	width: 4%;
	word-wrap: break-word;
    text-align: center;
    vertical-align: center;
}

.desc {
	width: 5%;
	word-wrap: break-word;
	text-align: left;
    vertical-align: center;
}

.undefined {
	width: 1%;
	word-wrap: break-word;
    vertical-align: center;
}
.link {
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 1em;
}
.results {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.hover-row {
	color: #212529;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0);
}

.hover-row:hover {
	background-color: rgba(0, 0, 0, 0.04);
}

table {
	background-color: rgba(0, 0, 0, 0);
}
